::root {
    --bg-button: #f0f0f0;
    --border-button: solid 1px #888;
}

.button {
    font-size: 1.4em;
    background-color: var(--bg-button);
    border: none;
    border-right: var(--border-button);
    border-bottom: var(--border-button);
    outline: none;
}

.button:active {
    background-color: #ccc;
}

.col4 {
    grid-row: span 4;
    background: #c58000;
}

.col4:active {
    background: #faB231cc;
}


.operation {
    background-color: #c2bfbf;
}

.operation:active {
    background-color: #c9c9c9;
}